<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Ets2_SetupTrafficMod_Root" value="d:\Ets2 stuff\LazyTraffic_1_53\"/>
    <add key="TruckListFilePath" value="def\vehicle\traffic_storage_truck.sii"/>
    <add key="CarListFilePath" value="def\vehicle\traffic_storage_car.sii"/>
	<add key="BusListFilePath" value="def\vehicle\traffic_storage_bus.sii"/>
    <add key="VehicleAiRelativePath" value="def\vehicle\ai\"/>



	  <add key="TruckMinSpeed" value="20"/>	  
	  <add key="TruckMaxSpeed" value="40"/>	  
	  <add key="TruckMinCriticalSpeed" value="20"/>
	  <add key="TruckSpikeFactor" value="0.2"/>
	  <add key="TruckSpikeZone" value="0.9"/>
	  <add key="TruckCycleMultiplier" value="3"/>


	  <add key="CarMinSpeed" value="50"/>	  
	  <add key="CarMaxSpeed" value="100"/>	  
	  <add key="CarMinCriticalSpeed" value="40"/>
	  <add key="CarSpikeFactor" value="0.7"/>
	  <add key="CarSpikeZone" value="0.4"/>
	  <add key="CarCycleMultiplier" value="4"/>

	  <add key="BusMinSpeed" value="50"/>	  
	  <add key="BusMaxSpeed" value="100"/>	  
	  <add key="BusMinCriticalSpeed" value="50"/>
	  <add key="BusSpikeFactor" value="0"/>
	  <add key="BusSpikeZone" value="0"/>
	  <add key="BusCycleMultiplier" value="3"/>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
